[user]
  name = Francesco Rodríguez
  email = frodsan@me.com
[push]
  default = current
[github]
  user = frodsan
[alias]
  gl   = config --global -l
  b    = branch
  bd   = branch -d
  c    = commit
  ca   = commit --amend
  co   = checkout
  cob  = checkout -b
  com  = checkout main
  comm = checkout master
  d    = diff
  a    = add
  aa   = add -A .
  l    = log
  ll   = log --oneline
  last = log -1 HEAD --stat
  p    = push
  pom  = pull origin main
  pomm = pull origin master
  pum  = pull upstream main
  pumm = pull upstream master
  s    = status
[core]
  excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[help]
	autocorrect = 20
